.card {
  max-width: 341px;
  margin: auto;
  border: 1px solid #ffffff;
  text-align: center;
  margin-top: 10px;
}

.card a {
  text-decoration: none;
  color: #ffffff;
}

.card-icon {
  height: 30vh;
  background-color: #383838;
}

.card-desc {
  padding: 10px 0 10px 0;
}
